@page "/kanbanboard"
@attribute [Authorize]


<AuthorizeView>
    <Authorized>
        <h1>Kanban/ Questban *-*</h1>
        
        <div>Authorised content</div>
    </Authorized>
    
</AuthorizeView>