.login-container {
    max-width: 380px;
    margin: 0 auto;
    margin-top: 60px;
    text-align: left;
    font-family: sans-serif;
}

h1 {
    text-align: center;
    margin-bottom: 40px;
    font-size: 32px;
    font-weight: 800;
    letter-spacing: 1px;
}

.form-group {
    margin-bottom: 35px;
}

label {
    display: block;
    font-weight: 600;
    margin-bottom: 8px;
}

.input-line {
    width: 100%;
    padding: 6px 0;
    border: none;
    border-bottom: 2px solid #444;
    background: transparent;
    font-size: 16px;
}

.input-line:focus {
    outline: none;
    border-bottom: 2px solid #000;
}


.footer {
    margin-top: 25px;
    text-align: center;
    font-size: 14px;
    color: #444;
}

.footer a {
    display: block;
    font-weight: 700;
    color: #000;
    margin-top: 5px;
    text-decoration: none;
}

.footer a:hover {
    text-decoration: underline;
}
