@using BlazorApp.Components.ComponentItems.ParameterEnums
<button class="custom-button @(CustomCss ?? ButtonColor) @Size.ToString().ToLower()"
        type="@Type"
        @onclick="OnClick"
        disabled="@Disabled">
    @ChildContent
</button>

@code {
    //allows to set anything inside the button, f.e. text
    [Parameter]
    public RenderFragment? ChildContent { get; set; }

    [Parameter] public ButtonLook? Look { get; set; } = ButtonLook.Primary;

    [Parameter] public string? CustomCss { get; set; }

    [Parameter] public Size Size { get; set; } = Size.Medium;

    //Helps specify button type, f.e. "submit" for forms
    [Parameter] public string Type { get; set; } = "button";

    [Parameter] public bool? Disabled { get; set; } = false;
    
    //Can be used to use lambda expressions, to use certain methods when clicked
    [Parameter]
    public EventCallback<MouseEventArgs> OnClick { get; set; }
    
    private string ButtonColor => Look switch
    {
        ButtonLook.Primary   => "primary",
        ButtonLook.Secondary => "secondary",
        ButtonLook.Success   => "btn btn-secondary",
        ButtonLook.Danger    => "btn btn-danger",
        _                    => "primary"
    };
    
}