@rendermode InteractiveServer
@using BlazorApp.Components.Pages.Auth

<CascadingAuthenticationState>
    <AuthInitializer />
    <Router AppAssembly="@typeof(Program).Assembly" >
        
        <Found Context="routeData">
            <AuthorizeRouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)">

            </AuthorizeRouteView>
        </Found>

        <NotFound>
            <p>Page not found.</p>
        </NotFound>

    </Router>
</CascadingAuthenticationState>


