@using ApiContracts.Quest
@using BlazorApp.Components.ComponentItems.Quest


<div class="d-flex flex-column flex-fill align-items-center rounded-2 bg-light p-2 ">
    <h5 class="my-3 text-dark-emphasis">@Status</h5>
    
    <div class="d-flex flex-column gap-4 w-100 flex-grow-1 align-items-center">
        @if (!QuestDtos.Any() || QuestDtos.Count == 0)
        {
            <p class="my-3 text-center">No quests with @Status status.</p>
        }
        else
        {
            foreach (var questDto in QuestDtos)
            {
                <QuestPreviewBoard Dto=@questDto></QuestPreviewBoard>
            }
        }
    </div>
</div>

@code {
    [Parameter]
    public required QuestStatus Status { get; set; }
    
    [Parameter]
    public required List<QuestDto?> QuestDtos { get; set; }
}

<style>
    
</style>